<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<div class="d-flex justify-content-center">
  <ul class="pagination">
    <% if @paginated_items.first_page? %>
      <li class="page-item disabled">
        <span class="page-link" >&laquo;</span>
      </li>
    <% else %>
      <li class="page-item">
        <%= link_to '«', url_for(page: @paginated_items.prev_page), class: 'page-link' %>
      </li>
    <% end %>

    <% (1..@paginated_items.total_pages).each do |page| %>
      <li class="page-item <%= 'active' if @paginated_items.current_page == page %>">
        <%= link_to page, url_for(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <% if @paginated_items.last_page? %>
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    <% else %>
      <li class="page-item">
        <%= link_to '»', url_for(page: @paginated_items.next_page), class: 'page-link' %>
      </li>
    <% end %>
  </ul>
</div>
