* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.slider-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Main Image Container */
.bike-main-image {
  position: relative;
  width: 100%;
}

/* Number Text - Left Side */
.numbertext {
  position: absolute;
  top: 0;
  left: 0; /* Align to the left */
  margin-left: 2%;
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  background-color: black;
  z-index: 1; /* Ensure it overlays the image */
}

/* Saved Bike Button - Right Side */
.saved-bike {
  position: absolute;
  top: 2%; /* Align at the top */
  right: 0; /* Align to the right */
  margin-right: 3%;
  z-index: 1; /* Ensure it overlays the image */
}

.saved-bike .btn {
  background: rgba(0, 0, 0, 0.5); /* Optional: Slightly transparent background */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 3px 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.saved-bike .btn i {
  font-size: 20px;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-left: 0%;
  font-weight: 900;
}

/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 12%;
  font-weight: 900;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

// /* Number text (1/3 etc) */
// .numbertext {
//   display: flex;
//   margin-left: 2%;
//   color: white;
//   font-size: 12px;
//   padding: 8px 12px;
//   position: absolute;
//   top: 0;
//   background-color: black;
// }

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
@media screen {
  .next {
    font-weight: 900;
    margin-right: 0%;
    color: white;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}
